Source: gitlab
Section: gitlab
Priority: optional
Maintainer: Diego Souza <dsouza@c0d3.xxx>
Build-Depends: debhelper (>= 7.0.50~), libicu-dev (>= 4.4), libmysqlclient-dev (>= 5.1.66), ruby-dev (>= 1.9.3), build-essential, zlib1g-dev, libyaml-dev, libssl-dev, libgdbm-dev, libreadline-dev, libncurses5-dev, libffi-dev, libxml2-dev, libxslt-dev, cmake (>= 2.8.9)
Standards-Version: 3.9.1
Homepage: https://github.com/gitlabhq/gitlabhq

Package: gitlabshell
Architecture: all
Depends: ${misc:Depends}, git (>= 1.6.6), perl (>= 5.8.8), openssh-server (>= 5.0), dash
Description: Gitlab replacement for gitolite

Package: gitlab
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, build-essential, gitlabshell, ruby (>= 1.9.3), ruby-dev (>= 1.9.3), libicu-dev, libmysqlclient18, libicu48, debconf, dash, daemon, sudo, logrotate
Description: Self hosted Git management software
