#!/bin/sh

set -e

. /usr/share/debconf/confmodule

for query in gitlab/gitlab/hostname gitlab/gitlab/port gitlab/gitlab/https gitlab/gitlab/email_from \
             gitlab/gravatar/enabled                                                                \
             database/driver database/name database/username database/password database/poolsize database/host
do
  db_input high gitlabhq/$query || true
  db_go
done
