#!/bin/sh

set -e

. /usr/share/debconf/confmodule

gitlabhq_config_ask_ldap () {
  db_input high gitlabhq/gitlab/ldap/enabled || true
  db_go

  if db_get gitlabhq/gitlab/ldap/enabled
  then
    if [ "$RET" = true ]
    then
      for question in host method base uid bind_dn password
      do
        db_input high gitlabhq/gitlab/ldap/$question || true
        db_go
      done
    fi
  fi
}

gitlabhq_config_ask_gitlab () {
  for question in host port https email_from
  do
    db_input high gitlabhq/gitlab/gitlab/$question || true
    db_go
  done
}

gitlabhq_config_ask_gravatar () {
  db_input high gitlabhq/gitlab/gravatar/enabled || true
  db_go
}

gitlabhq_config_ask_gitolite () {
  db_input high gitlabhq/gitlab/gitolite/ssh_host || true
  db_go
}

gitlabhq_config_ask_database () {
  for question in adapter host database username password pool
  do
    db_input high gitlabhq/database/production/$question || true
    db_go
  done
}

gitlabh_config_ask_other () {
  db_input high gitlabhq/run_assets_precompile || true
  db_go
}

gitlabhq_config_ask_gitlab
gitlabhq_config_ask_gitolite
gitlabhq_config_ask_gravatar
gitlabhq_config_ask_database
gitlabhq_config_ask_ldap
gitlabhq_config_ask_other

#DEBHELPER#
